/*font Variables*/
$primary-font: 'Roboto', sans-serif;
$title-font: 'Playfair Display', serif;

/*Color Variables*/
$primary-color: #ff2f8b;
$primary-color2: #9035f9;
$primary-color3: #fff098;
$primary-color4: #f54e71;
$title-color: #000000;
$text-color: #777777;
$offwhite: #f4f8ff;

/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:300,300i,400,500,600');
